<% if task.id %>
  <li class="task <%= task.completed ? "finished" : "unfinished" %>" id="task-<%= task.id %>">
    <div class="inner-task">
      <h1><%= task.title %></h1>
      <h3>Priority: <%=  task.priority %></h3>
      <h4>Due: <%= task.formatted_date %></h4>
      <p><%=  task.description %></p>
    </div>
    <%= link_to edit_project_task_path(@project, task), class: "edit-task-link" do %>
      <button class="edit-task btn icon">Edit Task</button>
    <% end %>
    <div class="checks">
      <%= link_to task.completed ? "completed!" : "completed?",
          complete_project_task_path(@project, task), method: :patch,
          class: "btn"
      %>
      <%
=begin%>
 <label class="checkbox-label" for="check">
        <%= task.completed ? "completed!" : "completed?" %>
      </label>
      <input class="check" name="chckbox" type="checkbox" /> 
<%
=end%>
    </div>
  </li>
<% end %>
