<% provide(:button_text, 'Add Task') %>
<% provide(:path,  project_tasks_path(@project) ) %>

<section class="project-section">
  <ul class="list" id="projects-list">
    <%= render @project %>
  </ul>
</section>

<%= link_to 'Back', projects_path, class: "btn" %>

<section id="tasks-section">
  <%= render 'tasks/form' %>
  <ul class="list" id="tasks-list">
    <%= render @unfinished_tasks %>
  </ul>
  <ul class="list" id="completed-tasks-list">
    <%= render @finished_tasks %>
  </ul>
</section>