<!DOCTYPE html>
<html>
  <head>
    <title>Just do it</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app">
      <header>
        <h1><%= link_to root_path do %>
          <span>Just do it</span>
        <% end %></h1>
      </header>

      <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "#{message_type}") %>
      <% end %>
      
      <%= yield %>

    </div>
  </body>
</html>
